*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}
.cabecalho-section {
    background: url('diamon.webp.PNG') no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}